---
---

$brand-color: #0a920a;

@import "{{ site.theme }}";

body {
    background-color: #eee;
    color: #525252;
}

.text-ipa {
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: unset;
}

a {
    color: $brand-color;
}

a:hover, a:focus {
    color: darken($brand-color, 10%);
    font-weight: unset;
    text-decoration: underline;
}

.narrow {
    display: none;
}

@media print, screen and (max-width: 960px) {
    header {
        padding-right: 0;
    }

    .wide {
        display: none;
    }
    .narrow {
        display: unset;
        padding-left: 5px;
        padding-right: 5px;
    }
}
